@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.footerComponent {
  font-family: "joey-Light";
  margin-top: 5%;
  background: #000000; }
  .footerComponent .siteMap {
    margin: 2% auto;
    color: white;
    font-family: "joey-medium"; }
  .footerComponent .footerMenu1 {
    margin-top: 3%;
    padding-left: 0;
    list-style-type: none;
    line-height: 1.7; }
    .footerComponent .footerMenu1 li {
      color: white;
      text-decoration: none; }
      .footerComponent .footerMenu1 li h4 {
        font-family: "MuseoSansRounded-Heavy";
        font-size: 16px; }
      .footerComponent .footerMenu1 li a {
        line-height: 2;
        font-family: "joey-Light";
        color: lightsalmon;
        font-weight: bold;
        text-decoration: none;
        text-decoration: none;
        font-size: 15px; }
        .footerComponent .footerMenu1 li a:hover {
          cursor: pointer;
          color: white; }
  .footerComponent .social-icons span {
    font-family: "MuseoSansRounded-light";
    margin-right: 10px;
    color: white; }
  .footerComponent .social-icons .facebookIcon {
    margin: 0 10px;
    padding: 4px;
    border: 2px solid lightsalmon;
    color: lightsalmon;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }
    .footerComponent .social-icons .facebookIcon:hover {
      border: 2px solid white;
      color: white;
      cursor: pointer; }
  .footerComponent .social-icons .fa-google {
    margin: 0 10px;
    padding: 4px;
    border: 2px solid lightsalmon;
    color: lightsalmon;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }
    .footerComponent .social-icons .fa-google:hover {
      border: 2px solid white;
      color: white;
      cursor: pointer; }
  .footerComponent .social-icons .fa-twitter {
    margin: 0 10px;
    padding: 4px;
    border: 2px solid lightsalmon;
    color: lightsalmon;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }
    .footerComponent .social-icons .fa-twitter:hover {
      border: 2px solid white;
      color: white;
      cursor: pointer; }
