@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.Banner {
  margin: 2% 0 5px 0;
  font-family: 'Open sans', sans-serif; }
  .Banner .BanneImage {
    background: rgba(15, 23, 46, 0.62);
    min-height: 420px;
    height: auto; }
    .Banner .BanneImage .ImageClass {
      opacity: .9;
      transform: scale(1.1);
      margin-top: 6%; }
    .Banner .BanneImage .mapLocator {
      position: relative; }
      .Banner .BanneImage .mapLocator .first {
        position: absolute;
        top: 21%;
        left: 14%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
        .Banner .BanneImage .mapLocator .first:hover {
          -webkit-animation: mover 1s infinite  alternate;
          animation: mover 1s infinite  alternate; }
      .Banner .BanneImage .mapLocator .second {
        position: absolute;
        top: 45%;
        left: 70.5%;
        font-size: 28px;
        color: #ED1A3D;
        cursor: pointer;
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate; }
      .Banner .BanneImage .mapLocator .third {
        position: absolute;
        top: 59%;
        left: 80.5%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
        .Banner .BanneImage .mapLocator .third:hover {
          -webkit-animation: mover 1s infinite  alternate;
          animation: mover 1s infinite  alternate; }
      .Banner .BanneImage .mapLocator .four {
        position: absolute;
        top: 30%;
        left: 70.5%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
        .Banner .BanneImage .mapLocator .four:hover {
          -webkit-animation: mover 1s infinite  alternate;
          animation: mover 1s infinite  alternate; }
      .Banner .BanneImage .mapLocator .five {
        position: absolute;
        top: 38%;
        left: 58%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
        .Banner .BanneImage .mapLocator .five:hover {
          -webkit-animation: mover 1s infinite  alternate;
          animation: mover 1s infinite  alternate; }
      .Banner .BanneImage .mapLocator .six {
        position: absolute;
        top: 80%;
        left: 85.5%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
        .Banner .BanneImage .mapLocator .six:hover {
          -webkit-animation: mover 1s 2s  alternate;
          animation: mover 1s 2s  alternate; }
      .Banner .BanneImage .mapLocator .seven {
        position: absolute;
        top: 71%;
        left: 24.5%;
        font-size: 20px;
        color: #ED1A3D;
        cursor: pointer; }
    .Banner .BanneImage .bannerComponetText {
      padding-right: 15px;
      padding-left: 15px;
      margin: 3% auto;
      color: white; }
      .Banner .BanneImage .bannerComponetText .heading {
        font-family: 'Open sans', sans-serif;
        font-size: 20px;
        pagging: 0; }
      .Banner .BanneImage .bannerComponetText .subheading {
        margin-top: 1%;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer; }
        .Banner .BanneImage .bannerComponetText .subheading .fa-card {
          font-size: 68px;
          transition: all 1s ease-in-out; }
          .Banner .BanneImage .bannerComponetText .subheading .fa-card:hover {
            transform: scale(1.4);
            color: #5DABE6; }
      .Banner .BanneImage .bannerComponetText .setButtonPosition {
        background: #B9C2CE;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px black;
        margin: 2% auto;
        border: 1px solid #B9C2CE;
        border-width: 2px;
        width: 50%;
        cursor: pointer;
        transition: all 1s ease-in-out; }
        .Banner .BanneImage .bannerComponetText .setButtonPosition:hover {
          transform: scale(0.7); }

@media only screen and (max-width: 320px) {
  .Banner {
    margin-top: 1%; }
  .subheading {
    text-align: center;
    margin-top: 1%;
    font-size: 15px !important;
    font-weight: normal;
    cursor: pointer; }
  .setButtonPosition {
    width: 80% !important; } }

@media only screen and (max-width: 467px) {
  .Banner {
    margin-top: 1%; }
  .subheading {
    text-align: center;
    margin-top: 1%;
    font-size: 15px !important;
    font-weight: normal;
    cursor: pointer; }
  .setButtonPosition {
    width: 80% !important; } }
