@import '../../_variable.scss';
@import '../../Icon.scss';

.phoneColor_picker {
	display: inline-flex;
	width:100%;
	margin-bottom: 3%;
	.colorPicker {
		border-radius: 50%;
		margin-right: 2%;
		width: rem-calc(45px);
		height: rem-calc(45px);
		cursor: pointer;
	}
	img {
		border: 4px solid transparent;
	}
	.pushSelector {
		text-align:center;
		position: relative;
		margin-right: 2%;
		border: 3px solid $white-two;
		border-radius: 50%;
		img {
			border:2px solid transparent;
			border-radius: 50%;
		}
	}
	.colorSelector {
		position: absolute;
		font-size: rem-calc(24px);
		display: block;	
		font-family: $font_0;
		font-style: normal;
		font-weight: 600;
		text-shadow:1px 1px 1px white;
		left: 19%;
    	top: 10%
	}
	.capacity {
		margin-top: 3%;
		padding-top: 1%;
		cursor: pointer;
		text-align:center;
		width: rem-calc(75px);
		height: rem-calc(40px);
		font-family: 'Open Sans';
		font-size: rem-calc(16px);
		font-weight: 600;
		line-height: 1.38;
		text-align: center;
		color: $black-two;
	}
	.active {
		border-radius: 5px;
	  	background-color: rgba(216, 216, 216, 0.25);
	  	border: solid 1px $pinkish-grey;
	}
}