@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.CatalogDetails .fav {
  font-family: Material Icons;
  font-size: 1.25em !important;
  text-align: center;
  margin: 0 auto;
  color: black; }

.CatalogDetails .IconButton {
  margin: 2% 1%; }

.CatalogDetails .IconButton button {
  background: grey !important; }

.CatalogDetails .ProductImage {
  min-width: 0 !important;
  width: auto !important;
  padding: 2%; }

.CatalogDetails .reviewComponent {
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  min-width: 28px !important;
  height: 25px !important;
  line-height: 0 !important;
  line-height: 0 !important; }
  .CatalogDetails .reviewComponent:hover {
    background: rgba(56, 142, 60, 0.8); }
  .CatalogDetails .reviewComponent span {
    padding-left: 7px !important;
    padding-right: 0 !important; }
  .CatalogDetails .reviewComponent svg {
    margin: 0 !important;
    font-size: small !important;
    height: 13px !important; }

.CatalogDetails .v-p-small {
  margin: 1% auto; }

.CatalogDetails .line-through {
  text-decoration: line-through; }

.CatalogDetails .offerClass {
  color: #388E3C;
  font-weight: bold; }

.CatalogDetails .CounterButton {
  display: flex; }

.CatalogDetails .InputComponent {
  border: 2px solid rgba(128, 128, 128, 0.45);
  width: 44px;
  height: 37px;
  font-size: 22px;
  text-align: center;
  font-family: 'Open Sans',sans-serif; }

.CatalogDetails .reactButton button {
  border-radius: 0; }

.CatalogDetails .anchor-button {
  border-radius: 0; }

.CatalogDetails .ACCinfo .selectText {
  margin: 3%;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px; }

.CatalogDetails .ACCinfo .cardTitle {
  padding: 0 !important;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: bold; }

.CatalogDetails .ACCinfo .override {
  box-shadow: 0px 0px 0px 0px !important;
  margin: 0 auto; }
  .CatalogDetails .ACCinfo .override svg {
    display: none !important; }
  .CatalogDetails .ACCinfo .override .cardText {
    padding: 0 !important; }
    .CatalogDetails .ACCinfo .override .cardText ul {
      padding-left: 0;
      font-family: 'Open Sans';
      font-size: 1em; }

.CatalogDetails .ACCinfo .LabelText {
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  font-size: 20px; }

.FilterComponent .filterText .filter {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  color: #262626;
  margin-bottom: 1%; }

.FilterComponent .clearAll {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #43a047;
  font-weight: 600; }

.FilterComponent .customCheckbox {
  margin: 3% 0;
  position: relative; }
  .FilterComponent .customCheckbox input {
    opacity: 0;
    z-index: -9999; }
  .FilterComponent .customCheckbox label {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px #999999;
    position: absolute;
    margin-bottom: 0px;
    bottom: 2px;
    left: 5%;
    cursor: pointer; }
  .FilterComponent .customCheckbox span {
    margin-left: 5%;
    color: #505050;
    font-family: 'Open Sans';
    font-size: 14px; }
  .FilterComponent .customCheckbox .checkmark {
    display: inline-block;
    position: absolute;
    left: 14px;
    top: 7px; }
    .FilterComponent .customCheckbox .checkmark:after {
      /*Add another block-level blank space*/
      content: '';
      display: block;
      /*Make it a small rectangle so the border will create an L-shape*/
      width: 6px;
      height: 10px;
      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #000;
      border-width: 0 2px 2px 0;
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg); }

.footerComponent {
  font-family: 'Roboto Slab', serif;
  margin-top: 5%;
  background: rgba(60, 52, 52, 0.8); }
  .footerComponent .footerMenu1 {
    margin-top: 5%;
    list-style-type: none;
    color: white;
    line-height: 1.7; }
    .footerComponent .footerMenu1 li {
      text-decoration: none;
      margin-botton: 2px; }
      .footerComponent .footerMenu1 li:hover {
        cursor: pointer;
        text-decoration: underline; }
