@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.textandImageComponentleft {
  background: #AF242F;
  color: white;
  margin: 5px auto; }
  .textandImageComponentleft .imageThumbnail1 a img {
    height: 25em; }
  .textandImageComponentleft .imageDescription {
    margin: 10% auto;
    width: 82%; }
    .textandImageComponentleft .imageDescription h1 {
      color: white;
      font-weight: normal;
      font-family: "MuseoSansRounded-Heavy"; }
    .textandImageComponentleft .imageDescription p {
      font-family: "joey-medium";
      margin-top: 3%; }
    .textandImageComponentleft .imageDescription a {
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: "joey-medium";
      transition: all ease-in-out 1s; }
      .textandImageComponentleft .imageDescription a:hover {
        cursor: pointer;
        color: #00BCD4;
        text-decoration: none; }

.rightImage {
  height: auto; }
  .rightImage .imageDescription {
    width: 79%;
    margin: 9% auto; }
    .rightImage .imageDescription h1 {
      font-family: "MuseoSansRounded-Heavy";
      color: white; }
    .rightImage .imageDescription p {
      margin-top: 2%;
      color: white;
      font-family: 'Open Sans'; }
    .rightImage .imageDescription a {
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: "joey-medium";
      transition: all ease-in-out 1s; }
      .rightImage .imageDescription a:hover {
        color: black;
        cursor: pointer;
        text-decoration: none; }

.no-padding {
  padding: 0; }

@-webkit-keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }
