@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.CatalogDetails .fav {
  font-family: Material Icons;
  font-size: 1.25em !important;
  text-align: center;
  margin: 0 auto;
  color: black; }

.CatalogDetails .IconButton {
  margin: 2% 1%; }

.CatalogDetails .IconButton button {
  background: grey !important; }

.CatalogDetails .ProductImage {
  min-width: 0 !important;
  width: auto !important;
  padding: 2%; }

.CatalogDetails .reviewComponent {
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  min-width: 28px !important;
  height: 25px !important;
  line-height: 0 !important;
  line-height: 0 !important; }
  .CatalogDetails .reviewComponent:hover {
    background: rgba(56, 142, 60, 0.8); }
  .CatalogDetails .reviewComponent span {
    padding-left: 7px !important;
    padding-right: 0 !important; }
  .CatalogDetails .reviewComponent svg {
    margin: 0 !important;
    font-size: small !important;
    height: 13px !important; }

.CatalogDetails .v-p-small {
  margin: 1% auto; }

.CatalogDetails .line-through {
  text-decoration: line-through; }

.CatalogDetails .offerClass {
  color: #388E3C;
  font-weight: bold; }

.CatalogDetails .CounterButton {
  display: flex; }

.CatalogDetails .InputComponent {
  border: 2px solid rgba(128, 128, 128, 0.45);
  width: 44px;
  height: 37px;
  font-size: 22px;
  text-align: center;
  font-family: 'Open Sans',sans-serif; }

.CatalogDetails .reactButton button {
  border-radius: 0; }

.CatalogDetails .anchor-button {
  border-radius: 0; }

.CatalogDetails .ACCinfo .selectText {
  margin: 3%;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px; }

.CatalogDetails .ACCinfo .cardTitle {
  padding: 0 !important;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: bold; }

.CatalogDetails .ACCinfo .override {
  box-shadow: 0px 0px 0px 0px !important;
  margin: 0 auto; }
  .CatalogDetails .ACCinfo .override svg {
    display: none !important; }
  .CatalogDetails .ACCinfo .override .cardText {
    padding: 0 !important; }
    .CatalogDetails .ACCinfo .override .cardText ul {
      padding-left: 0;
      font-family: 'Open Sans';
      font-size: 1em; }

.CatalogDetails .ACCinfo .LabelText {
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  font-size: 20px; }
