.footerComponent {
  font-family: 'Roboto Slab', serif;
  margin-top: 5%;
  background: rgba(60, 52, 52, 0.8); }
  .footerComponent .footerMenu1 {
    margin-top: 5%;
    list-style-type: none;
    color: white;
    line-height: 1.7; }
    .footerComponent .footerMenu1 li {
      text-decoration: none;
      margin-botton: 2px; }
      .footerComponent .footerMenu1 li:hover {
        cursor: pointer;
        text-decoration: underline; }
