@import '../../../_variable.scss';
@import '../../../Icon.scss';

.formInputComponent {
	input {
		font-family: 'Open Sans';
  		height: 40px;
  		border-radius: 4px;
  		border: solid 1px $pinkish-grey;
  		margin-bottom:10px;
	}
	.FormInputComponentwithSearch {
		position: relative;
		input {
			padding-left: 4%;
		}
		i {
			font-family: $font_0;
			position: absolute;
			font-style: normal;
	    	top: 0;
	    	color: $greyish-brown;
	    	left: 2.5%;
	    	font-size: 25px;
		}
	}	
}

