@import '../../_variable.scss';
@import '../../Icon.scss';

.ToutHeight {
	img {
		height:14.813em;
		cursor:pointer;
	}
	.card-title {
		text-transform: uppercase;
	}
	.card-text {
		line-height:1.5rem;
	}
}