@import '../../_variable.scss';
@import '../../Icon.scss';

.tilePadding {
    padding:0;
}
.tileBanner {
    font-family: $Museolight;
    margin-top:.5%;
    position: relative;
    li {
        list-style-type: circle;
    }
    img {
        width: 98%;
        margin:2% auto;
        height:13em;
    }
     .IconText {
        position: absolute;
        bottom: 0;
        left: 10%;
        color: white;  
        h4 {
            margin-bottom: 0;
        } 
        p,a {
            font-family: $font1;
            font-size: 14px;
        }  
    }
}
.tilemarginCircle {
    margin-top:1%;
    margin-bottom: 2%;
    li {
        list-style-type: circle;
    }
    .IconImg {
        cursor:pointer;
        height: 100px;
        border-radius: 50%;
        margin: 26% auto;
    }

    .IconText { 
        p {
             font-family: $font1;
        }
        a {
             font-family: $MusoHeavy;
             font-weight: bold;
             &:hover {
                text-decoration: none;
                color: black;
             }
        }
    }
}