.CounterComponent {
  display: inline-flex; }
  .CounterComponent .InputComponent {
    width: 26px;
    text-align: center;
    border: 1px solid grey; }
    .CounterComponent .InputComponent p {
      margin-bottom: 0px; }
  .CounterComponent .btn {
    border-radius: 5px !important; }
