@import 'Icon.scss';

$font1: 'Open sans', sans-serif;
$color_black_haze_approx: #00BCD4;
$color_endeavour_approx: #00BCD4;

.meterial-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal !important;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
//fonts

//color pattern
$white: white;
$Black: black;
$gray: grey;
$bright-lime: #8ce600;
$darkish-green: #388e3c;
$pine: #29371f;
$sunflower-yellow: #e3e400;
$darkish-blue: #00449d;
$cerulean: #0288d1;
$apple-two: #7ac138;
$apple: #7ec237;
$neon-blue: #00d5ff;
$booger: #8bc34a;
$mid-green: #43a047;
$pea: #a3ce26;
$cerise: #ed138b;
$lipstick: #d81b60;
$black: #000000;
$warm-grey: #737373;
$black-two: #262626;
$greyish-brown: #505050;
$warm-grey-two: #999999;
$pinkish-grey: #bfbfbf;
$white-two: #e5e5e5;

$default: 16px; // Default

@function rem-calc($pixels, $context: $default) {
  @return #{$pixels/$context}em;
}

