@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.topnav {
  width: 80%;
  background-color: #FFFFFF !important;
  border-top: 4px solid #01549b;
  box-shadow: 1px 2px 10px 1px #d6d6d6;
  z-index: 100; }
  .topnav .navBar {
    display: inline-flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important; }
    .topnav .navBar .linkMenu {
      margin: 30% !important;
      position: relative; }
      .topnav .navBar .linkMenu a {
        display: block;
        font-weight: bold;
        color: #737373;
        font-size: 16px;
        text-decoration: none; }
      .topnav .navBar .linkMenu:hover > .submenuLink {
        display: block; }
      .topnav .navBar .linkMenu .submenuLink {
        padding: 2% 0;
        position: absolute;
        display: none;
        width: 20em;
        background: white;
        z-index: 9999;
        left: -174px;
        -webkit-box-shadow: 1px 2px 10px 1px #d6d6d6; }
        .topnav .navBar .linkMenu .submenuLink li {
          margin: 3%;
          text-align: center !important; }
          .topnav .navBar .linkMenu .submenuLink li a {
            text-decoration: none;
            color: #737373;
            font-weight: normal;
            font-size: 12px; }
            .topnav .navBar .linkMenu .submenuLink li a:nth-child(1) {
              font-weight: bold; }
  .topnav .fixedMenu .menu {
    display: inline-flex;
    width: 23%; }
    .topnav .fixedMenu .menu li {
      margin: 5% !important; }
      .topnav .fixedMenu .menu li a {
        display: block;
        color: #737373;
        font-size: 12px;
        text-decoration: none; }
        .topnav .fixedMenu .menu li a:nth-child(1) {
          font-weight: bold; }

.displayClassHidden {
  display: none; }

.margin-Class {
  margin-top: 0 !important;
  transition: margin-top .3s; }

.top-bar {
  margin-top: 2%;
  cursor: pointer; }
  .top-bar .search-container {
    padding-right: 44%; }
    .top-bar .search-container .fa-search {
      background: #737373;
      color: white;
      border-radius: 50%;
      padding: 22%;
      margin-top: -4px;
      box-shadow: 0px 1px 1px 2px #d6d6d6;
      z-index: 999999;
      border: 2px solid white; }
      .top-bar .search-container .fa-search:before {
        margin: 2px; }

.cartIcon {
  position: relative;
  margin-left: 0; }
  .cartIcon .fa-shopping-cart {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #737373;
    color: white;
    box-shadow: 0px 1px 2px 1px #024764;
    border: 2px solid white;
    border-radius: 50%; }
    .cartIcon .fa-shopping-cart:hover {
      -webkit-animation: rotating .5s linear infinite;
      -moz-animation: rotating .5s linear infinite;
      -ms-animation: rotating .5s linear infinite;
      -o-animation: rotating .5s linear infinite;
      animation: rotating .5s linear infinite; }
    .cartIcon .fa-shopping-cart:before {
      position: absolute;
      margin: 8px; }
  .cartIcon .bagde {
    display: none; }

.positionCard {
  position: fixed !important;
  top: 52px !important;
  right: 41px !important;
  width: 14em; }
  .positionCard .ImageCard {
    width: auto;
    height: 100px !important;
    display: block;
    margin: 10px auto !important; }
  .positionCard .no-border {
    border-radius: 0;
    padding: 4px 0; }

.rightMenu {
  display: flex;
  margin: 9% 0 0 0;
  float: right;
  width: auto; }
  .rightMenu .avatarIcon {
    margin: -2px 33px; }
    .rightMenu .avatarIcon .person {
      font-family: Material Icons;
      font-style: normal;
      color: white;
      padding: 5px;
      font-size: 25px;
      background: #737373;
      box-shadow: 0px 1px 1px 2px #d6d6d6;
      z-index: 999999;
      border: 2px solid white;
      border-radius: 50%; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
