
  <ion-header class="trans23_header" >
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-left ">
        Trans 23
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="bg_color">
      <ion-card class="welcome-card">
        <div class="overlay">
              <img src="/assets/aerial-photography-aerial-shot-aerial-view-2725481.jpg" alt="" />
        </div>
        <ion-card-header>
          <h2>Best Service Guranteed !! </h2>
        </ion-card-header>
        <ion-card-content>
          <p>Trans 23 is the best outstation trip and 'movers n packers' service provider. Call us or submit a request on this app and enjoy an amazing experience..</p>
        </ion-card-content>
      </ion-card>
      <ion-card style="box-shadow: 0 0 0 0;border:0;border-radius:0">
          <ion-button  class="box-shadow-button" color="primary">
              <i class="fa fa-taxi"></i>&nbsp;
              <span>Outstation Trip</span>
          </ion-button>
      </ion-card>
      <ion-card style="box-shadow: 0 0 0 0;border-radius:0 ">
          <ion-button class="box-shadow-button" color="primary">Block Button</ion-button>
      </ion-card>
      <ion-card class="welcome-card">
          <div class="overlay">
                <img src="/assets/audi-automobile-car-lights-1149831.jpg" alt="" />
          </div>
          <ion-card-header>
            <h2>Best Service Guranteed !! </h2>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
  </ion-content>