@import '../../_variable.scss';
@import '../../Icon.scss';

$white: white;
$information-phone: "only screen and (max-width : 320px)";
$information-phone1: "only screen and (max-width : 467px)";
.Banner {
    margin: 2% 0 5px 0;
  .BanneImage {
        min-height: 420px;
        background-repeat: no-repeat !important;
        height: auto;
        .ImageClass {
            height: 23em;
        }
        .bannerComponetText {
            width:80%;
            padding-right:15px;
            padding-left:15px;
            margin:5% auto;
                color: white;
            .heading {
                font-family: $MusoHeavy;
                font-size: 20px;
                pagging:0;
            }
            .subheading {
                 margin-top:1%;
                 font-size: 45px;
                font-family: $MusoHeavy;   
                 font-weight: bold;
                 cursor: pointer;
                 }           
            }

            .setButtonPosition {
                background: #B9C2CE;
                color: black;
                font-weight: bold;
                border-radius: 5px;
                float:left;
                box-shadow: 1px 1px 1px 1px black;
                margin: 2% auto;
                border: 1px solid #B9C2CE;
                border-width: 2px;
                width: 40%;
                cursor: pointer;
                transition: all 1s ease-in-out;
                &:hover {
                    transform: scale(0.7);
                }
            }
        }
    .BannerText {
        .internetAddon {
            margin-left: 33px;
        }
        .BannerList {
            ol {
                list-style-type: none;
                margin-bottom: 0;
                li {
                    list-style-type: circle !important;
                }
            }
        }
    }
}
@media #{$information-phone} {
            .Banner {margin-top:1%;}
            .BanneImage {
                background-size: cover !important;
                background-position:center center !important;
            }
            .subheading {
                text-align: center;
                margin-top: 1%;
                font-size: 28px !important;
                font-weight: normal ;
                cursor: pointer;
            }
            .setButtonPosition {
                width:80% !important;
                 transform: scale(0.7);
            }

        .bannerComponetText {
            width:100% !important;
            margin:auto auto;
            }
    .BannerText .internetAddon {
          margin-left: 0;
        }
        .BannerText .BannerList {
          list-style-type: none;
        }
        .BannerText .BannerList ol {
          list-style-type: none;
          margin-bottom: 0;
        }
        .BannerText .BannerList ol li {
          list-style-type: circle !important;
        }
}
@media #{$information-phone1} {
    .Banner {margin-top:1%;
            background-size: cover !important;
            background-position:center center !important;
        }
        .bannerComponetText {
            width:100% !important;
            margin:0 auto;
        }
            .subheading {
                text-align: center;
                margin-top: 1%;
                font-size: 28px !important;
                font-weight: normal ;
                cursor: pointer;
            }
            .setButtonPosition {
                float:none;
                text-align:center;
                width:100% !important;
                transform: scale(0.7);
            }
            .BannerText li {
                list-style-type: none !important;
            }
            .BannerText .internetAddon {
                  margin-left: 0;
                }
                .BannerText .BannerList {
                  list-style-type: none;
                }
                .BannerText .BannerList ol {
                  list-style-type: none;
                  margin-bottom: 0;
                }
                .BannerText .BannerList ol li {
                  list-style-type: circle !important;
                }

        }    
