@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.meterial-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal !important;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; }

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(Styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(Styles/fonts/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "MuseoSansRounded-light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/MuseoSansRounded-300.otf); }

@font-face {
  font-family: "MuseoSansRounded-Heavy";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/MuseoSansRounded-500.otf); }

@font-face {
  font-family: "joey-Light";
  font-style: normal;
  font-weight: 300;
  src: url(Styles/fonts/Joey-Light.otf); }

@font-face {
  font-family: "joey-medium";
  font-style: normal;
  font-weight: 500;
  src: url(Styles/fonts/Joey-Medium.otf); }

.FilterComponentMobile .FilterContent {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
  /* Popover styling */ }
  .FilterComponentMobile .FilterContent .clickPopover {
    position: relative; }
    .FilterComponentMobile .FilterContent .clickPopover .add {
      position: absolute;
      font-family: Material Icons;
      font-style: normal;
      font-size: 18px;
      margin-top: 0px; }
    .FilterComponentMobile .FilterContent .clickPopover .FilterLabel {
      margin-left: 16px;
      font-family: "MuseoSansRounded-Heavy";
      font-size: 18px;
      color: #262626; }
  .FilterComponentMobile .FilterContent .visible {
    display: block;
    transform: translate(0, 10px);
    background-color: #BFBFBF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    margin-top: 0;
    background: #262626;
    color: white;
    margin: 4px;
    min-width: 310px; }
  .FilterComponentMobile .FilterContent .hidden {
    display: none;
    transform: translate(0, 10px);
    background-color: #BFBFBF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    margin-top: 0;
    background: #262626;
    color: white; }
  .FilterComponentMobile .FilterContent .visible:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(8% - 10px);
    top: 10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #262626 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97); }

.FilterComponentMobile .btn-maxis-small {
  margin: 0 4px;
  font-family: "MuseoSansRounded-Heavy";
  font-size: 0.875em !important;
  color: black;
  background-color: rgba(255, 255, 255, 0.81);
  display: inline-block;
  font-weight: normal;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 7px 18px;
  font-size: 1rem;
  line-height: 0.7;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out; }
  .FilterComponentMobile .btn-maxis-small:hover {
    background: #144dd2;
    color: white;
    cursor: pointer; }

.FilterComponentMobile .FilterContent1 {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
  /* Popover styling */ }
  .FilterComponentMobile .FilterContent1 .clickPopover {
    position: relative; }
    .FilterComponentMobile .FilterContent1 .clickPopover .sort {
      font-family: "MuseoSansRounded-Heavy";
      font-size: 18px;
      margin-top: 0px;
      color: #262626; }
  .FilterComponentMobile .FilterContent1 .visible {
    display: block;
    transform: translate(0, 10px);
    background-color: #BFBFBF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    margin-top: 0;
    background: #262626;
    color: white;
    margin: 4px;
    min-width: 310px;
    margin-left: -159px; }
  .FilterComponentMobile .FilterContent1 .hidden {
    display: none;
    transform: translate(0, 10px);
    background-color: #BFBFBF;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    margin-top: 0;
    background: #262626;
    color: white; }
  .FilterComponentMobile .FilterContent1 .visible:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(90% - 11px);
    top: 10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #262626 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97); }
